.kf{
    width: 141px;
    position: fixed;
    top: 10%;
    right: 0;
    /* overflow: hidden; */
    /* height: 200px; */
    border:4px solid #449fe3;
    border-radius: 2px;
    padding: 8px;
    background-color: white;
}

.kf-box{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.kf-bg{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.kf-bg > h5{
    text-align: center;
    color: #449fe3;
    border-bottom:1px solid #449fe3;
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
}

.link2{
    display: block;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    color: #333;
}

.kf-bg>p>img{
    display: block;
    width: 100%;
}

.kf-bg>p{
    font-size: 14px;
    text-align: center;
}

.kf-top{
    width: 100%;
    height: 30px;
}

.kf-top a {
    display: block;
    /* text-align: center; */
    height: 30px;
    line-height: 30px;
    text-decoration: underline;
    /* background-color: red; */
}

.kf-top a img{
    height: 30px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

._h5{
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: left center;
    height: 50px;
}

.qq{
    background-image: url(../image/newqq.png);
}
.wechat{
    background-image: url(../image/newweixin.png);
}